HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

.env
.env.local
.env.*.local
!.env.example
src/main/resources/application-local.properties
src/main/resources/application-secret.properties
start-payment-local.ps1

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
.idea/
*.iws
*.iml
*.ipr
.vscode/
build/

application-secrets.properties
src/main/resources/application-secrets.properties
.env
.env.*